@{
    ViewBag.Title = "2018 South Dakota Amateur Baseball State Tournaments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12 text-center">
        <img src="~/Content/images/2018_SD_Amateur_Class_A_State_Tourney_Bracket.jpg?v=8" />
    </div>
</div>
<br />
<div class="row">
    <div class="col-lg-12 text-center">
        <img src="~/Content/images/2018_SD_Amateur_Class_B_State_Tourney_Bracket.jpg?v=14"  />
    </div>
</div>